#console {
    font-size: 12px;
    font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #999;
    line-height: 18px;
    margin-top: 20px;
    max-height: 150px;
    overflow: auto;
  }
  
  #mySwipe div b {
    display:block;
    font-weight:bold;
    color:#14ADE5;
    font-size:20px;
    text-align:center;
    margin:10px;
    padding:100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 3px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
  }

.itemE {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
}
  
h1.titulo {
    font-size: 21px;
    color: #603813;
    font-family: Oswald,sans-serif;
    font-weight: 400;
    line-height: 1.199999;
    margin-bottom: 0;
    text-align: left;
    background-position: center 35px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
}

  .certItems {
    width: 100%;
    max-width: 1024px;
    display: block;
    margin: 0px auto;
    padding: 10px;
    /* background-image: url(.../assets/css/bg-top1.png); */
    background-position: center;
  }
  .certSlider {
    overflow: hidden;
  }
  .certSlider h1 {
    text-align: left;
    font-size: 19px;
    color: #603813;
    font-family: Oswald,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 7px;
    margin-top: 5px;
  }
  .lead {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    font-family: Oswald,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
  }
  .certItems .title {
    text-align: left;
    font-size: 22px;
    color: #603813;
    font-family: Oswald,sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 13px;
  }
  .wrap_img {
    position: relative;
    height: 135px;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 3px solid #fefefe;
  }
  .logo {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 19px;
    top: 4px;
    z-index: 1;
  }
  .titulo {    
    font-size: 26px;
    color: #603813;
    font-family: Oswald,sans-serif;
    font-weight: 500;
    line-height: 1.199999;
    margin-bottom: 9px;
    text-align: center;
    padding-bottom: 5px;
    /* background-image: url(.././assets/css/bg_title_sec.png);  */
    background-position: center 35px;
    background-repeat: no-repeat;
    padding-bottom: 33px;
  
  }
  .verespecial a {
    text-align: center;
    color: #c4a46d;
    padding: 5px;
    display: block;
    margin: 0px auto;
    width: 175px;
    border-radius: 3px;
    font-family: Oswald,sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 8px;
    background: white;
    border: 1px solid;
  }