<ul>
    <li *ngFor="let data of allNoti" >
        <h1> {{data.titulo}}</h1>
        <p>{{data.teaser}}</p>
        <h2>{{ data.urlLogoMarca }}</h2>
         <a href="{{ data.urlNoti }}"> link </a>
       <img src="{{ data.urlImg }}" alt="">
       <h3>{{data.dateNoti}}</h3>
        <div class="compartirRedes">
            <a href="">{{ data.urlNoti }}</a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </li>
</ul>  

<!-- 
<ul>
    <li *ngFor="let data of jsonFm" >
        <h1> {{data.title.rendered}}</h1>
        <h2>{{ data.logoMarca }}</h2>
        <p>{{data.excerpt.rendered}}</p>
         <a href="{{ data.link }}"> link </a>
       <img src="{{ data.imgJson }}" alt="">
       <h3>{{data.dateNoti}}</h3>
        <div class="compartirRedes">
            <a href="">{{ data.link }}</a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </li>
</ul>
-->