<!-- Ultima hora  -->

<div class="row">
    <div class="large-4 columns"  *ngFor="let data of finNoti" >            
        <div class="news">
           <a href="{{ data.urlNoti }}" target="_blank">
                <img class="imgw100" src="{{ data.urlImg }}" alt="">
                <div class="card">
                    <h1 class="titleN" [innerHTML] = "data.titulo"></h1>
                    <div class="date">{{ data.dateNoti | date: 'mediumDate'}}</div>
                    <div class="descript" [innerHTML] = "data.teaser">
                        <p>Descripcion corta de la noticia dos renglones seguidos</p>
                    </div>
                    <div class="logoportal">
                        <img src="{{data.urlLogoMarca}}" alt="">
                    </div>
                </div>
            </a>
        </div>                                    
  </div>
</div>  

<div class="vermas">
    <a href="#">VER MAS</a>
</div>