
<header id="header">
<div class="row"> 
  <div class="h_site">
   
    <div class="top-bar-left small-12 medium-6 large-3 columns">
            <img class="center" src="assets/img/log_papa.png" alt="">
    </div>
    <div class="top-bar-right logo_rcn small-6 medium-6 large-2 columns">
             <img class="" src="assets/img/rcnradio500.png" alt=""> 
       </div>
    <div class="top-bar-right small-12 large-7 columns">
    <div class="block">
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="menu align-center d-tablet">
        <li><a href="#ultima" class="ultimair">ULTIMA HORA</a></li>
        <li><a href="#perfil" class="perfilir">PERFIL</a></li>
        <li><a href="#agenda" class="agendair">AGENDA</a></li>
        <li><a href="#frases" class="frasesir">FRASES</a></li>
        <li><a href="#galeria" class="galeriair">GALERIA</a></li>
    </ul>
    </div>
    
  </div> 
  </div>
  </header>
  <div class="cenefa">
      <div class="row">
          <div class="large-12 columns">
             <div class="btn_ver"></div>            
          </div>
      </div> 
  </div>
  
  <!--- streaming - contador --->
   <div class="bg-black">
    <div class="row">
       <div class="large-7 small-12  columns">
            <iframe width="100%" height="550" src="https://www.youtube.com/embed/RtU_mdL2vBM" frameborder="0" allowfullscreen></iframe> 
        </div>
        <div class="large-5 small-12 columns">
            <div class="contador">
                <div>
                    <span class="title">FALTAN</span>                       
                     <div id="clockdiv">
                        <div>
                            <div class="smalltext">DIAS</div>
                            <span class="daysT"></span>
                        </div>
                        <div>
                           <div class="smalltext">HORAS</div>
                           <span class="hours"></span>
                        </div>
                        <div>
                           <div class="smalltext">MINUTOS</div>
                           <span class="minutes"></span>
                        </div> 
                        <div>
                            <div class="smalltext">SEGUNDO</div>
                            <span class="seconds"></span>
                        </div>
                    </div>        
                </div>              
            </div>
        </div>
    </div>
    </div>
<!-- streaming - contador  -->
  

    
      <!--- Radio ---> 
     <div class="radio">
        <span class="logo_b"><img src="assets/img/rcn_b.png" alt=""></span>
                  
     </div>
    <div id="ultima">
        <div class="news">
            <div class="row">
               <div class="large-12  small-12 columns">
                <h1>ULTIMA HORA</h1>
                <noticias></noticias>
                </div>
            </div>
        </div>
    </div>
      
      <!--- perfil ---> 
      <div class="perfil" id="perfil">
          <div class="row">
              <h1>PERFIL</h1>
              <div class="large-5 small-5 columns">
              <img class="center" src="assets/img/pap.png" alt="">
              </div>
                <div class="large-7 small-7 columns mobile100">
                  <p>Francisco, el mismo que como arzobispo de Buenos Aires visitaba a un monje taoísta -Liu Ming- para que le curara algunos dolores del cuerpo con medicina oriental; el mismo que tiene entre sus mejores amigos al pastor evangélico pentecostal Giovanni Traettino y el mismo que cada vez que se dirige a los multitudes pide que recen por él.</p>
              </div>
          </div>
      </div>
      <!--- /perfil --->
      <!--- Agenda ---> 
      <div class="agenda" id="agenda">
          <div class="row">
              <h1>AGENDA</h1>
              <div class="large-6 small-12  columns">
                 <div class="recorridoAgenda">
                      <p>RECORRIDO
                      <br><span> Y AGENDA</span></p>
                      <a href="#">VER AGENDA COMPLETA</a>
                      
                 </div> 
           
              </div> 
              <div class="large-6 columns" id="hide">
                  
                  <div class="lookbook">
                      <div class="lookbook__image">
                          <img id="zoom1" src="assets/img/mapa.png" alt="">
                           
                            <div class="hint togmov1" style="top: 45%; left: 39%;;">
                                <span class="plus"> 1 </span> 
                                <span class="hint__dot"></span>
                                <div class="tool tool--right">
                                <div class="tip"></div>
                                <span>Bogotá</span>
                                <div class="hover-tool">
                                <div class="hover-tool__tip"></div>
                                <span class="hover-tool__text">
                                El papa llegará el miércoles 6 de septiembre a Bogotá. El jueves 7 se presentará ante una multitud de jóvenes en la Plaza de Bolivar (10:00 am) y presidirá una misa ante 600 mil personas en el Parque Simón Bolívar (4:00 pm).
                                </span> </div>
                                </div>
                            </div>
                            
                               <div class="hint togmov1" style="top: 35%;left: 39%;">
                                    <span class="plus"> 3 </span> 
                                    <span class="hint__dot"></span>
                                    <div class="tool tool--right-m">
                                    <div class="tip"></div>
                                    <span>Medellín</span>
                                    <div class="hover-tool">
                                    <div class="hover-tool__tip"></div>
                                    <span class="hover-tool__text">El sábado 9 de septiembre en Medellín, el santo padre presidirá una misa (10:00 am) en el Aeropuerto Olaya Herrera. Luego (3:00 pm) se reunirá con la comunidad que reside en el Hogar San José. </span> </div>
                                    </div>
                                </div>
                                                              
                                <div class="hint togmov1" style="top: 56%;left: 46%;">
                                    <span class="plus"> 2 </span> 
                                    <span class="hint__dot"></span>
                                    <div class="tool tool--right-v">
                                    <div class="tip"></div>
                                    <span>Villavivencio</span>
                                    <div class="hover-tool">
                                    <div class="hover-tool__tip"></div>
                                    <span class="hover-tool__text">El domingo 10 en Cartagena, el papa Francisco bendecirá la primera piedra de las Casas para las personas sin hogar en la Plaza San Francisco de Asís (10:30). Posteriormente (12:00) realizará la Oración del Angelus en el Santuario de San Pedro Claver y finalmente en Contecar celebrará la Santa Misa (4:30 pm).</span> </div>
                                    </div>
                                </div>
                                                                                          
                                <div class="hint togmov1" style="top: 15%;left: 26%;">
                                    <span class="plus"> 4 </span> 
                                    <span class="hint__dot"></span>
                                    <div class="tool tool--right-c">
                                    <div class="tip"></div>
                                    <span>Cartagena</span>
                                    <div class="hover-tool">
                                    <div class="hover-tool__tip"></div>
                                    <span class="hover-tool__text">El domingo 10 en Cartagena, el papa Francisco bendecirá la primera piedra de las Casas para las personas sin hogar en la Plaza San Francisco de Asís (10:30). Posteriormente (12:00) realizará la Oración del Angelus en el Santuario de San Pedro Claver y finalmente en Contecar celebrará la Santa Misa (4:30 pm).</span> </div>
                                    </div>
                                </div>
                      </div>                                        
                  </div>
              </div>    
          </div>
      </div> 
      <!--- /Agenda --->  
   
      <!--- Frases --->
      <div class="frases" id="frases">
          <div class="row">
              <h1>FRASES</h1>
               <div class="large-12 columns">
               <div class="w60">
               <div class="leftc"></div>
                <div id="owl-demo" class="owl-carousel">                   
                        <div class="item">JAMÁS PROVOQUES LÁGRIMAS ES UN ROSTRO QUE TE HA REGALADO SUS MEJORES SONRISAS </div>
                        <div class="item">Para conseguir la paz se necesita valor, mucho más que para hacer la guerra </div>
                        <div class="item">No se puede tolerar que el Mediterráneo se convierta en un gran cementerio</div>
                        <div class="item">Los sacerdotes son como los aviones: sólo son noticia cuando caen </div>
                  </div>
                  <div class="rightc"></div>
                  </div>
              </div>
          </div>
      </div>
      <!--- /Frases --->
    <!-- galeria --> 
  <galeria></galeria>
   <footer>
       Copyright RCN Radio © | 2017 | Política de Protección de Datos Personales y Aviso de Privacidad
   </footer>

   
  
    
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="src/app/reloj/js/jquery.epiclock.min.js"></script>


    <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/js/foundation.min.js"></script> -->
    <link rel='stylesheet' id='photospace-res-styles-css' href='http://www.lafm.com.co/wp-content/plugins/photospace-responsive/gallery.css?ver=4.8.1' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.lafm.com.co/wp-content/plugins/photospace-responsive/jquery.galleriffic.js?ver=4.8.1'></script>
    <!-- photospace [ START ] -->
    <style type="text/css">
    .photospace_res ul.thumbs img {
    width:50px;
    height:50px;
    }
    .photospace_res .thumnail_row a.pageLink {
    width:50px;
    height:50px;
    line-height: 50px;
    }
    .photospace_res ul.thumbs li{
    margin-bottom:10px !important;
    margin-right:10px !important;
    }
    .photospace_res .next,
    .photospace_res .prev{
    margin-right:10px !important;
    margin-bottom:10px !important;
    }
    </style><!-- photospace [ END ] -->


